body {text-align: center;
  background-image: linear-gradient(#C3F4E9, #F9F1CC);}
h1 {border: dashed black ;
text-size: 100px;}
p {text-size: 50px;}
img {width:230px;
  height: 230px;}
li {list-style-type: none;}
.design {
  column-count: 3;
  column-gap: 40px;
     column-rule: 1px solid lightblue;
}
