body {text-align: center;
background: linear-gradient(to bottom, #F5C2CA; 0%, #ff99cc 50%);}
h1 {border: dashed black ;}
.animatedBox {
  width: 200px;
  padding: 20px;
  text-align: center;
  font: 24px sans-serif;
  color: white;
  background: black;
  border: 0px solid #A1AAC6;
  animation: myAnimation 6s linear 1s 1 forwards;
}
@keyframes myAnimation {
  50% {
    border: 60px solid black;
  }	
}
